.div1-block {
    display: block;
    height: 100px;
    width: 100px;
    background-color: darkgoldenrod;
}

.div2-inline-block {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(223, 16, 23);
}

.div3-inline {
    display: inline;
    height: 100px;
    width: 100px;
    background-color: rgb(66, 11, 184);
}