.body-style {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.div-board {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cell{
    width: 70px;
    height: 70px;   
}

.white-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    outline-color: black;
    background-color: rgb(138, 137, 106);
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
}

.white-square:before {
    content: '';
    background-color: rgb(138, 137, 106);

}

.white-square:hover:after {
    content: 'I am here';
    background-color: rgb(108, 108, 84);
}


.black-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgb(47, 49, 49);
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
  }

  .black-square:before {
    content: '';
    background-color: rgb(108, 108, 84);

}

.black-square:hover:after {
    content: 'I am here';
    background-color: rgb(108, 108, 84);
}

.numbers {
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
  }

.numbers-inverted {
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 30px;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin-left: 1px;
}

.letters {
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin-top: 1px;
}

.letters-inverted {
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 30px;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin-bottom: 1px;
}

.letters-inverted-underline {
    display: flex;
    width: 70px;
    height: 70px;
    font-size: 30px;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin-bottom: 1px;
    border-color: blanchedalmond
    ;
    border-bottom-style:solid;

}

.shapes {
    display: flex;
    width: 50px;
    justify-content: center;
}