/*
Styles priority system:
 by tag (div) - 1
 by class (.main) - 10
 by id (#main) - 100
 style directly in tag in html file ( <div style="background-color: blue;">) - 1000
 by comand "!important" in css file ( background-color: rgb(22, 212, 225) !important;) - 10000

 Combinations: 
 tag + class (div.main {...) - 11
 class + id (#main2.main {...) - 110
 */

div {
    background-color: chartreuse;
}

.baby {
    background-color: darkorange;
}

.border-div {
    border-style: solid;
}
/*
How can we access tags: 
Kod in html:
    <div class="main" id="main2">
        <p>texst div 1</p>
        <p>texst div 1</p>
        <div class="baby">
            <p>texst div 2</p>
            <p>texst div 2</p>
        </div>
    </div> 

    kod in css: 
 */
 /* now we make changes just in this part:
        <p>texst div 1</p>
        <p>texst div 1</p> 
  */
.main>p {
    font-size: 35px;
}
/* here we make changes in both <p>: 
  <p>texst div 1</p>
  <p>texst div 1</p>
  <p>texst div 2</p>
  <p>texst div 2</p>
 */
.main p {
    font-size: 35px;
}