body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    outline-color: black;
    outline-style: solid;
    background-color: white;
    margin-right: 3px;
    text-align: center;
    
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4vh;
}