
#table-place{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(94, 252, 3);
    color: rgb(18, 11, 11);

}

table, th, td {
    border: 3px solid rgb(251, 251, 252);
    border-collapse: collapse;
    
  }

  td {
    text-align: center;
  }

  .evenRow {
    background-color: rgb(252, 13, 196); 
  }

  .oddRow {
    background-color: rgb(27, 2, 218);
    color: rgb(156, 160, 163);
  }

  .hedderRow {
    background-color: rgb(194, 248, 1);
  }